body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333333;
}

#chatbox {
    border: 1px solid #ccc;
    background-color: white;
    height: 400px;
    padding: 20px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border-radius: 5px;
}

.user-message,
.bot-message {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 80%;
}

.user-message,
.bot-message {
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    max-width: 80%;
    word-wrap: break-word;
}


#input-form {
    display: flex;
}

#user-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
